.container-fluid.py-5.h-100.text-white.text-center.pb-5
  .container.pt-5
    %h2.mb-5
      ユーザー情報編集
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password
        %i (パスワード変更しないのであれば、空欄にしてください)
        %br/
        = f.password_field :password, autocomplete: "new-password"
        - if @minimum_password_length
          %br/
          %em
            = @minimum_password_length
            文字以上
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .field
        = f.label :current_password
        %i (変更確認のため、現在のパスワードが必要です)
        %br/
        = f.password_field :current_password, autocomplete: "current-password"
      .actions.my-5
        = f.submit "更新", class: "bg-primary rounded text-white px-3"
    %h3.mt-5
      アカウント削除
    %p
      Unhappy? #{button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete, class: "bg-danger text-white rounded px-3"}
    = link_to "戻る", :back, class: "text-white"
