.container-fluid.py-5.vh-100.text-white
  .container
    %h2.my-5.text-center
      新規登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field.text-left
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true, class: "form-control"
      .field.text-left
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      .field.text-left
        = f.label :password
        - if @minimum_password_length
          %em
            (最低 #{@minimum_password_length} 文字)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: "form-control"
      .field.text-left
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
      .actions.my-4.text-center
        = f.submit "登録する", class: "text-white bg-primary rounded p-3"
    .text-center
      = render "devise/shared/links"
