.container-fluid.h-100.py-5.bg-info
  .container.w-100.h-100
    .profile-wrapper.col-auto.bg-light.p-5.mt-5.shadow.rounded
      .cover-image.align-middle.rounded
        = image_tag("accountDefault2.png" ,class: "profile-photo img-fluid figure-img rounded-circle bg-light")
      .row
        .h3.col-2.offset-2.mt-3
          = @user.name
        .col-8
          .mt-3.float-right.col-3.text-center.shadow.btn.btn-info.dropdown-toggle#dropdown-menu-button{ data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} }
            - if user_signed_in? && current_user.id == @user.id
              設定
            - else
              その他
          .dropdown-menu.dropdown-menu-right{ aria: {labelledby: "dropdown-menu-button"} }
            - if user_signed_in? && @user.id == current_user.id
              .text-decoration-none.dropdown-item= link_to "プロフィール編集", edit_user_registration_path(@user)
            - else
              .text-decoration-none.dropdown-item= link_to "ダイレクトメッセージ", "#"
            - if user_signed_in? && @user.id == current_user.id
              .text-decoration-none.dropdown-item= link_to "ログアウト", destroy_user_session_path, method: :delete
            - else
              .text-decoration-none.dropdown-item= link_to "通報する", "#"
      .user-posts.mt-5
        - if user_signed_in? && @user.id == current_user.id
          あなたのモヨオシ
        - else
          = @user.name + "さんのモヨオシ"
        .swiper-container.p-2.rounded
          .swiper-wrapper.p-1
            - @posts.each do |post|
              .swiper-slide.events__content.col-sm-6.col-md-4.mb-3
                .card{ id: post.id }
                  %label.m-1
                    - if post.image.present?
                      = image_tag("#{post.image}", class: "card-img-top img-fluid rounded")
                    - else
                      = image_tag("noimage.jpeg", class: "col card-img-top img-fluid rounded")
                    .card-body.event
                      %h5= link_to "#{post.title}", post_path(post.id), class: "event-title stretched-link text-decoration-none"
                      .event__name
                        #{post.user.name} さん
                      .text-right
                        = l post.created_at, format: :long
                .card.col-auto
                  .text-left
                    - post.genre_list.each do |genre|
                      .badge.badge-primary{ data:{role: "tagsinput"} }
                        = link_to "#{genre}", tag_path(genre), class: 'text-decoration-none text-white'
                - if user_signed_in?
                  .offset-8.col-auto.card
                    .text-center.likes
                      = render partial: '/posts/posts', locals: {post: post}
          - if @posts.count >= 4
            .swiper-button-prev
            .swiper-button-next
            .swiper-pagination




