.container-fluid.py-5
  .edit
    .container.py-5
      .h4.text-center.text-white.my-5
        編集
      .post-form
        = form_for @post, action: '/posts' do |f|
          .mx-5
            .form-group.row.mb-3.text-center
              .text-white
                タイトル：
              = f.text_field :title, class: "ml-3 form-control post-form__title col-6"
            .form-group.row.mb-3
              .text-white
                内容：
              = f.text_area :content, placeholder: "詳しい内容を記入してください", size: "20x10", class: "ml-5 post-form__content col form-control"
            .form-group.row.mb-4
              .text-white
                画像：
              = f.label :image, "画像", class: "post-form__image col offset-1 text-white" do
                = icon('fas fa-2x', 'image',)
                = f.file_field :image, class: "post-form__image--file d-none"
            .form-group.row.mb-4
              = f.label :address, class: "col text-white my-auto" do
                開催場所：
                .row
                  = f.label :prefecture, "都道府県： ", class: 'col text-white my-auto text-right'
                  = f.text_field :prefecture, class: "post-form__address form-control col-2"
                  = f.label :city, "市区町村： ", class: 'col text-white my-auto text-right'
                  = f.text_field :city, class: "post-form__address form-control col-2"
                  = f.label :town, "区町名： ", class: 'col text-white my-auto text-right'
                  = f.text_field :town, class: "post-form__address form-control col-2"
            .form-group.row.mb-4
              = f.label :genre_list, "ジャンル：  ", class: "text-white"
              = f.text_field :genre_list, placeholder: "ジャンル(５個まで)", value: @post.genre_list.join(','), class: "form-control", data:{role: "tagsinput"}
            .row.pb-3
              .mx-auto
                = link_to "キャンセル", post_path(@post), class: "col-auto btn-danger p-3 d-inline-block rounded mr-3 text-decoration-none"
                = f.submit "更新", class: "post-form__submit col-auto btn-primary py-3 px-4 rounded"


