.container-fluid
  .container.pt-5
    .btn.btn-danger{onClick: "getPosition();"}
      現在地

    %section.form-group.w-100.row
      .search-form.d-sm-inline-block.mx-auto
        = form_with(url: posts_searches_path, local: true, method: :get, id: "forms") do |f|
          .input-group.mt-5.mx-auto.col-auto
            = f.text_field :keyword, placeholder: "投稿を検索する", class: "rounded search-input col-auto"
            = f.submit "検索", class: "rounded btn btn-primary text-white fas fa-search  p-3"
                
    %section.events.px-5.pb-5
      .events__text.text-white.m-5.text-center.h3
      #paginate
        .events__wrapper.row
          - @posts.each do |post| 
            .events__content.col-sm-6.col-md-4.mb-3
              .card{id: post.id}
                %label.m-1
                  - if post.image.present?
                    = image_tag asset_path("#{post.image}"), class: "card-img-top img-fluid rounded"
                  - else
                    = image_tag asset_path("noimage.jpeg"), class: "card-img-top img-fluid rounded"
                  .card-body.event
                    %h5= link_to "#{post.title}", post_path(post.id), class: "event-title stretched-link text-decoration-none"
                    .event__name 
                      #{post.user.name} さん
                    .text-right
                      = l post.created_at, format: :long
              .card.col-auto
                .text-left
                  - post.genre_list.each do |genre|
                    .badge.badge-primary{data:{role: "tagsinput"}}
                      = link_to "#{genre}", tag_path(genre), class: 'text-decoration-none text-white'
              - if user_signed_in?
                .offset-8.col-auto.card
                  .text-center.likes
                    = render partial: '/posts/posts', locals: {post: post}
        = paginate @posts, remote: true
      .new-post.text-center.m-5
        - if user_signed_in?
          = link_to "投稿する", new_post_path, class: "new-post--btn btn-primary p-3 text-decoration-none rounded"
        - else
          .row
          = link_to "新規登録", new_user_registration_path, class: "new-post--btn btn-primary p-3 m-1 mr-4 text-decoration-none rounded"
          = link_to "ログイン", new_user_session_path, class: "new-post--btn btn-secondary p-3 m-1 text-decoration-none rounded"
    %section.genres.pb-5
      .container.bg-white.p-1.rounded
        %h2.m-1.pt-3.text-center.text-secondary
          ジャンルから選ぶ
        %hr.divider.my-4
        .row.pb-5
          .col-md-6.col-lg-3.text-center
            .mt-5
              .fas.fa-4x.fa-hands-helping
              = link_to "ボランティア", tag_path("ボランティア"), class: "icon text-decoration-none h3 mb-2 stretched-link"
              %p.text-muted.mb-0
                農業・漁業・介護を体験しよう
          .col-md-6.col-lg-3.text-center
            .mt-5
              .fas.fa-4x.fa-chalkboard-teacher
              = link_to "教室・勉強会", tag_path("教室・勉強会"), class: "icon text-decoration-none h3 mb-2 stretched-link"
              %p.text-muted.mb-0
                自習室、プログラミング教室など
          .col-md-6.col-lg-3.text-center
            .mt-5
              .fas.fa-4x.fa-piggy-bank
              = link_to "セール", tag_path("セール"), class: "icon text-decoration-none h3 mb-2 stretched-link"
              %p.text-muted.mb-0
                今日のお得情報をお届け！
          .col-md-6.col-lg-3.text-center
            .mt-5
              .fas.fa-4x.fa-user-friends
              = link_to "ソーシャル", tag_path("ソーシャル"), class: "icon text-decoration-none h3 mb-2 stretched-link"
              %p.text-muted.mb-0
                イベントやパーティーに参加！
        .row
          .col-auto
            - @tag = []
            - @posts.each do |post|
              - render 'posts/tag_list', tag_list: post.genre_list
            - @tag.group_by{|i| i}.keys.each do |tag|
              .badge.badge-primary
                = link_to "#{tag}", tag_path(tag), class: "text-white text-decoration-none"

