.container-fluid.bg-info.pb-4
  %section.events.p-5
    .events__text.text-white.m-5.text-center.h3
      今日は何する？
    .events__wrapper.row
      - @posts.each do |post| 
        .events__content.col-sm-6.col-md-3.mb-3
          .card{id: post.id}
            %label.m-1
              - if post.image
                %img.card-img-top{src: "#{post.image}"}
              - else
                %img.card-img-top{src: "/public/noimage.jpeg"}
              .card-body.event
                %h5= link_to "#{post.title}", post_path(post.id), class: "event-title stretched-link text-decoration-none"
                .event__name 
                  #{post.user.name} さん
                .text-right
                  = l post.created_at, format: :long
          .card.col-auto
            .text-left
              - post.genre_list.each do |genre|
                .badge.badge-primary{data:{role: "tagsinput"}}
                  = link_to "#{genre}", tag_path(genre), class: 'text-decoration-none text-white'
          - if user_signed_in?
            .offset-8.col-auto.card
              .text-center
                = render partial: '/posts/posts', locals: {post: post}
    .new-post.text-center.m-5
      - if user_signed_in?
        = link_to "投稿する", new_post_path, class: "new-post--btn btn-primary p-3 text-decoration-none rounded"
      - else
        .row
        = link_to "新規登録", new_user_registration_path, class: "new-post--btn btn-primary p-3 m-1 mr-4 text-decoration-none rounded"
        = link_to "ログイン", new_user_session_path, class: "new-post--btn btn-secondary p-3 m-1 text-decoration-none rounded"
  %section.genres
    .container.bg-white.p-2
      .row
        -# - @posts.each do |post|
        = raw(@posts.tag_list.map { |t| link_to t, tag_path(t) }.join(', '))
